
body {
  font-family: Tahoma, Geneva, sans-serif;
}
.container {
  display: flex;
 
}

.guest-wrapper {
  flex: 1;
  background-color: #2f2f2f;
  color: #d8d8d8;
  font-family: sans-serif;
}


.search {
  padding: 20px;
  border-bottom: 1px solid #606060;
  display: flex;
}
.fa-search {
  color: #d8d8d8;
  margin-right: 5px;
  font-size: 14px;
}

.input-group input {
  padding: 15px 0px 15px 15px;
  border-top-left-radius: 5px;
  border: 0;
  border-bottom-left-radius: 5px;
  background-color: #464646;
  color: #d8d8d8;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}
.input-group input:focus {
    border: none;
    outline: none;
}

::placeholder {
    color: #d8d8d8;
}

.input-group-append {
  width: 20%;
  display: block;
}
.input-group-append button {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #464646;
  border-radius: 0;
  border-top-right-radius: 5px;
  border: 0;
  border-bottom-right-radius: 5px;
}

.input-group-append button:hover {
  color: none;
}

.guest-content {
  flex: 4;
  justify-content: center;
}


.num-guests {
  padding: 20px;
  font-size: 14px;
}

.group-list {
  margin: 0;
}
.group-list {
  list-style-type: none;
  padding: 0; 
  margin-bottom: 0;
}
.group-list-item {
  background-color: #464646;
  cursor: pointer;
  padding: 20px;
  border-bottom: 1px solid #2f2f2f;
}

.image-icon {
  width: 30px;
  height: 30px;
  background-color: #fcfcfc;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
.list-text {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 14px;
}


/* Guest Details Styles*/

.guest-card {
  background-color: #f0f0f0;
  width: 500px;
  border-radius: 3px;
  box-shadow: 0 4px 2px -2px #d8d8d8;
  margin: 145px 0px 0px 200px;
}

.guest-card-header {
  border-bottom: 1px solid #d8d8d8;
  padding: 20px;
  display: flex;
}
.guest-image-wrapper {
  flex: 1;
}

.guest-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-flex;
  border: 1px solid #d8d8d8;
}
.guest-info-wrapper {
  flex: 6;
  padding: 6px 0px;
}

.guest-info-wrapper span {
  display: inline-flex;
  font-size: 13px;
  color: #606060;
  margin-right: 5px;
}

.guest-name {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 13px;
}

.guest-company {
  font-style: italic;
  display: block;
  font-size: 13px;
  margin: 0;
  color: #606060;
}

.guest-card-form {
  padding: 20px;
  color: #606060;
  font-size: 13px;
}

.guest-card-form span {
  margin-bottom: 20px;
  display: inline-flex;
}

.guest-card-form input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #d8d8d8;
  background: transparent;
  padding: 5px 0px;
  font-size: 13px;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  color: #606060;
}

.guest-card-form input::placeholder {
  color: #606060;
}

.guest-card-form input:focus::-webkit-input-placeholder  {
  color: transparent;
}

.newNumber input::placeholder {
  color: #606060;
}

.btn-show {
  text-align: right;
}
.btn-show-input {
  margin-bottom: 20px;
 cursor: pointer;
 font-size: 12px;
}
.btn-show-input  i {
  margin-right: 5px;
}
.btn-new-num{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: #606060;
}
